:root
{
    --transition: all 0.5s ease;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{
    line-height: 1.6;
    font-size: 1.1rem;
    display: block;
}

img
{
    width: 100%;
}

ul li
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: #000;
}

h1, h2, h3, h4, h5, h6, p
{
    margin: 15px 0;
}

/* Utility Classes */

.flex
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    width: 90vw;
    margin: 0 auto;
}

.btn
{
    background: orange;
    border: none;
    display: block;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    font-size: 15px;
    padding: 12px;
    border: 3px solid orange;
    border-radius: 25px;
    margin: 15px 0;
    transform: var(--transition);
}

.btn:hover
{
    background: orange;
    color: #fff;
}

.active
{
    color: orange!important;
    opacity: 0.6;
}

.active:hover
{
    font-family: 'Fredericka the Great', cursive;
}
/* end of Utility Classes */

/* Header Styling */

.header
{
    min-height: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("WhatsApp Image 2022-04-16 at 10.17.44 PM (1).jpeg") center/cover no-repeat;
    color: #fff;
}

.top-nav a
{
    color: #fff;
}

.brand-and-navBtn
{
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 999;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 2.9rem;
    padding: 15px 25px;
    border-radius: 7px;
}

.brand-name
{
    font-family: 'Fredericka the Great', cursive;
    color: white;
    cursor: pointer;
}

.brand-name:hover
{
    color: rgb(238, 160, 15);
    font-size: 3rem;
    transition: 0.3s;
}

.navBtn
{
    border: 1px solid;
    padding: 8px;
    cursor: pointer;
}

.navBtn:hover
{
    background: #fff;
    color: #000;
    transition: var(--transition);
}

.top-nav
{
    background: rgba(0, 0, 0, 0.3);
    transform: translate(-800px);
    transition: var(--transition);
}

.showNav
{
    transform: translateY(0);
}

.search-icon
{
    display: none;
}

.top-nav ul li
{
    padding: 10px 0;
}

.top-nav ul a
{
    position: relative;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    display: block;

}

.top-nav ul a::after
{
    content: "";
    height: 2px;
    background: orange;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transition: var(--transition);
}

.top-nav ul a:hover::after
{
    width: 100px;
}

.about
{
    margin-top: 160px;
}

.about-content img
{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.about-img
{
    background: #fff;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 75px;
}

.about-content h2
{
    font-size: 48px;
    text-align: center;
    margin-bottom: 35px;
    color: orange;
}

.about-content h3
{
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    background: rgba(0, 0, 0, 0.2);
    width: 500px;
    margin: 35px auto;
    text-align: center;
}

blockquote
{
    font-size: 20px;
    font-weight: 300px;
    opacity: 0.9;
    width: 60vw;
    margin: 45px auto 15px auto;
    text-align: center;
}

blockquote span
{
    font-size: 20px;
    text-transform: uppercase;
    color: orange;
    opacity: 0.75;
    font-weight: 300;
    letter-spacing: 5px;
    display: block;
}

.social-icons
{
    width: 350px;
    margin: 40px auto 0 auto;
    padding-bottom: 30px
}

.social-icons ul a
{
    color: #fff;
    font-size: 30px;
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.social-icons ul
{
    display: flex;
    justify-content: space-around;
}

.social-icons ul a:hover
{
    background: orange;
    border-color: orangered;
    font-size: 3rem;
}
/* end of Header Styling */

/************** Main Section **************/

/***** index.html *****/

/* Header Syling */

/* end of Header Styling */

/***** end of index.html *****/
